body
{
background: #222121;
}

#container
{
margin-left : auto;
margin-right : auto;
margin-top: 40px;
height:310px;
width:420px;
border-radius: 15px;
background: url("../images/pageBackground.png");
}

#logocontainer
{
margin-left: 35px;
margin-top: 15px;
width: 350px;
height:73px;
float:left;
}

#softwareLogoDivision
{
height: 70px;
width:70px;
float: left;
margin-top:2px;
margin-left:5px;
}

#softwareTitleDivision
{
height:70px;
width: 250px;
float:left;
margin-left:20px;
}

#detailsDivision
{
margin-top:20px;
float:left;
height:170px;
width:400px;
}

#usernameLabelDivision
{
margin-top:5px;
margin-left:10px;
float:left;
width:120px;
height:25px;
}

#usernameInputDivision
{
margin-top:5px;
margin-left:5px;
float:left;
width:230px;
height:25px;
}

#usernameErrorIconDivision
{
margin-top:3px;
margin-left:5px;
float:left;
width:27px;
height:27px;
}

#securityQuestionLabelDivision
{
margin-top:10px;
margin-left:10px;
float:left;
width:120px;
height:25px;
}

#securityQuestionInputDivision
{
margin-top:10px;
margin-left:5px;
float:left;
width:230px;
height:25px;
}

#securityQuestionErrorIconDivision
{
margin-top:7px;
margin-left:5px;
float:left;
width:27px;
height:27px;
}

#securityAnswerLabelDivision
{
margin-top:5px;
margin-left:10px;
float:left;
width:120px;
height:25px;
}

#securityAnswerInputDivision
{
margin-top:5px;
margin-left:5px;
float:left;
width:230px;
height:25px;
}

#securityAnswerErrorIconDivision
{
margin-top:3px;
margin-left:5px;
float:left;
width:27px;
height:27px;
}

#newPasswordLabelDivision
{
margin-top:5px;
margin-left:10px;
float:left;
width:120px;
height:25px;
}

#newPasswordInputDivision
{
margin-top:5px;
margin-left:5px;
float:left;
width:230px;
height:25px;
}

#newPasswordErrorIconDivision
{
margin-top:3px;
margin-left:5px;
float:left;
width:27px;
height:27px;
}


#confirmPasswordLabelDivision
{
margin-top:5px;
margin-left:10px;
float:left;
width:120px;
height:25px;
}

#confirmPasswordInputDivision
{
margin-top:5px;
margin-left:5px;
float:left;
width:230px;
height:25px;
}

#confirmPasswordErrorIconDivision
{
margin-top:3px;
margin-left:5px;
float:left;
width:27px;
height:27px;
}

#saveButtonDivision
{
margin-top:10px;
margin-left:200px;
float:left;
width:60px;
height:25px;
}



#windowCloseButtonDivision
{
float:left;
margin-left:5px;
margin-top:5px;
height:25px;
width:20px;
}

#windowCloseButton
{
cursor:pointer;
}


#usernameErrorIcon
{
display:none;
}
#securityQuestionErrorIcon
{
display:none;
}
#securityAnswerErrorIcon
{
display:none;
}
#newPasswordErrorIcon
{
display:none;
}
#confirmPasswordErrorIcon
{
display:none;
}

