.selectedRow
{
color:white;
background-color: black
}
.notSelectedRow
{
color:black;
background-color: white;
}

body
{
background: #222121;
}

#container
{
margin-left:auto;
margin-right:auto;
margin-top:40px;
height: 610px;
width: 900px;
border-radius: 15px;
background:  url("../images/pageBackground.png");
}

#softwareTitleDivision
{
height:70px;
width: 200px;
float:left;
margin-left:350px;
margin-top :5px;
}

#teachersGridContainer
{
float: left;
margin-left:60px;
width: 750px;
border: 1px solid black;
padding: 10px;
}

.moduleTitle
{
float: left;
font-size: 18pt;
font-weight: bold;
}

#backButtonDivision
{
float:right;
margin-right:5px;

}

#moduleIconsToolStrip
{
float: right;
margin-right:7px;
}

.moduleIcon
{
cursor: pointer;
}

#teachersGrid
{
width: 730px;
border-collapse: collapse;
border-spacing: 0px;
border: 1px solid black;
float:left;
}

#teachersGrid thead
{
background-color: lightGray;
}

#teachersGrid thead tr
{
position: relative;
display: block;
}

#teachersGrid thead th
{
border: 1px solid Black;
width: 70px;
min-width: 70px;
}

#teachersGrid thead th + th
{
border: 1px solid Black;
width: 100px;
min-width: 100px;
}

#teachersGrid thead th + th + th
{
border: 1px solid Black;
width: 330px;
min-width: 330px;
}

#teachersGrid thead th + th + th + th
{
border: 1px solid Black;
width: 230px;
min-width: 230px;
}

#teachersGrid td
{
border: 1px solid Black;
width: 70px;
min-width: 70px;
}

#teachersGrid td + td
{
border: 1px solid Black;
width: 100px;
min-width: 100px;
}

#teachersGrid td + td + td
{
border: 1px solid Black;
width: 330px;
min-width: 330px;
}

#teachersGrid td + td + td + td
{
border: 1px solid Black;
width: 230px;
min-width: 230px;
}

#teachersGrid tbody
{
min-height: 100px;
height: 180px;
min-height: 180px;
overflow-x: hidden;
overflow-y: auto;
display: block;
}

#teachersGrid tbody tr
{
cursor: pointer;
}

#teacherDetailsPanel
{
margin-top:5px;
width: 770px;
height: 190px;
border: 1px solid black;
float:left;
margin-left:60px;
}

#detailsSpan
{
margin-top: 20px;
font-size:15pt;
float:left;
width:700px;
margin-left:60px;
}

#teacherDetailsPanelTable
{
margin-top:10px;
float:left;
margin-left:10px;
}

#teacherDetailsPanelTable td
{
width: 85px;
min-width: 85px;
border: 5px solid white;
}

#teacherDetailsPanelTable td + td
{
width: 100px;
min-width: 100px;
}

#teacherDetailsPanelTable td + td + td
{
width: 95px;
min-width: 95px;
}

#teacherDetailsPanelTable td + td + td + td
{
width: 200px;
min-width: 100px;
}

#teacherDetailsPanelTable td + td + td + td + td
{
width: 105px;
min-width: 105px;
}

#teacherDetailsPanelTable td + td + td + td + td + td
{
width: 100px;
min-width: 100px;
}


#teachersAddWindowMask
{
left: 0px;
top: 0px;
position: fixed;
height: 100%;
width: 100%;
z-index: 1000;
text-align: center;
background: url("../images/mask.png");
visibility: hidden;
}

#teachersAddWindow
{
margin: 110px auto;
width: 780px;
height: 300px;
border: 1px solid black;
background:  url("../images/pageBackground.png");
border-radius: 10px;
box-shadow: 10px 10px 10px black;
text-align: left;
}

#windowTitleLabel
{
float: left;
width: 200px;
height: 30px;
font-size:20pt;
margin-left: 4px;
margin-top: 4px;
padding: 2px;
}

#windowCloseButtonSpan
{
float: right;
margin-right: 5px;
margin-top: 5px;
}

#windowClientDivision
{
float:left;
border: 1px solid black;
margin-left: 5px;
margin-right:2px;
margin-top:5px;
width: 760px;
height: 240px;
padding: 4px;
}


#teachersEditWindowMask
{
left: 0px;
top: 0px;
position: fixed;
height: 100%;
width: 100%;
z-index: 1000;
text-align: center;
background: url("../images/mask.png");
visibility: hidden;
}

#teachersEditWindow
{
margin: 110px auto;
width: 780px;
height: 300px;
border: 1px solid black;
background:  url("../images/pageBackground.png");
border-radius: 10px;
box-shadow: 10px 10px 10px black;
text-align: left;
}

#userIDLabelDivision
{
margin-top: 5px;
margin-left:5px;
float:left;
width: 90px;
height: 30px;
}

#userIDInputDivision
{
margin-top: 5px;
float:left;
width: 120px;
height: 30px;
}

#userIDSpanDivision
{
margin-top: 5px;
float:left;
width: 145px;
height: 30px;
}

#userIDSpan
{
float:left;
width: 120px;
height: 30px;
}

#userIDErrorIconDivision
{
margin-top=-2px;
margin-left=-2px;
margin-left:5px;
float:left;
width:27px;
height:27px;
}

#usernameLabelDivision
{
margin-top: 5px;
margin-left:30px;
float:left;
width: 50px;
height: 30px;
}

#usernameInputDivision
{
margin-top: 5px;
float:left;
width: 150px;
height: 30px;
}

#usernameErrorIconDivision
{
margin-left: 5px;
float:left;
width:27px;
height:27px;
}

#departmentLabelDivision
{
margin-top: 5px;
margin-left: 45px;
float:left;
width: 80px;
height: 30px;
}

#departmentInputDivision
{
margin-top: 5px;
margin-left: 5px;
float : left;
width: 80px;
height: 30px;
}

#departmentErrorIconDivision
{
margin-top :-2px;
margin-left :10px;
float:left;
width:27px;
height:27px;
}

#genderLabelDivision
{
margin-top: 15px;
margin-left: 5px;
float:left;
width: 60px;
height: 30px;
}

#genderInputDivision
{
margin-top: 15px;
margin-left: 10px;
float : left;
width: 80px;
height: 30px;
}

#genderErrorIconDivision
{
margin-top:10px;
float:left;
width:27px;
height:27px;
}



#dateOfBirthLabelDivision
{
margin-top: 15px;
margin-left: 50px;
float:left;
width: 100px;
height: 30px;
}

#dateOfBirthInputDivision
{
margin-top: 15px;
float : left;
width: 150px;
height: 30px;
}

#dateOfBirthErrorIconDivision
{
margin-top: 10px;
float:left;
width:27px;
height:27px;
}


#dateOfJoiningLabelDivision
{
margin-top: 15px;
margin-left: 35px;
float:left;
width: 85px;
height: 30px;
}

#dateOfJoiningInputDivision
{
margin-top: 15px;
float : left;
width: 100px;
height: 30px;
}

#dateOfJoiningErrorIconDivision
{
margin-top: 10px;
float:left;
width:27px;
height:27px;
}

#collegeLabelDivision
{
margin-top: 15px;
margin-left: 5px;
float:left;
width: 70px;
height: 30px;
}

#collegeInputDivision
{
margin-top: 15px;
float : left;
width: 400px;
height: 30px;
}

#collegeErrorIconDivision
{
margin-top: 10px;
margin-left:7px;
float:left;
width:27px;
height:27px;
}

#contactNumberLabelDivision
{
margin-top: 15px;
margin-left: 33px;
float:left;
width: 90px;
height: 30px;
}

#contactNumberInputDivision
{
margin-top: 15px;
float : left;
width: 100px;
height: 30px;
}

#contactNumberErrorIconDivision
{
margin-top: 10px;
float:left;
width:27px;
height:27px;
}


#designationLabelDivision
{
margin-top: 15px;
margin-left:5px;
float:left;
width: 80px;
height: 30px;
}

#designationInputDivision
{
margin-top: 15px;
margin-left:5px;
float:left;
width: 120px;
height: 30px;
}

#designationErrorIconDivision
{
margin-top: 10px;
margin-left: 5px;
float:left;
width:27px;
height:27px;
}


#salaryLabelDivision
{
margin-top: 15px;
margin-left:25px;
float:left;
width: 55px;
height: 30px;
}

#salaryInputDivision
{
margin-top: 15px;
float:left;
width: 150px;
height: 30px;
}

#salaryErrorIconDivision
{
margin-top: 10px;
margin-left: 10px;
float:left;
width:250px;
height:27px;
}

#addressLabelDivision
{
margin-top: 50px;
margin-left: -725px;
float:left;
width: 80px;
height: 30px;
}

#addressInputDivision
{
margin-top: 50px;
margin-left: -655px;
float:left;
width: 250px;
height: 30px;
}

#addressErrorIconDivision
{
margin-top: 10px;
margin-left: 10px;
float:left;
width:250px;
height:27px;
}


#roleInputDivision
{
margin-top: 15px;
margin-left: 10px;
float : left;
width: 170px;
height: 30px;
}

#roleErrorIconDivision
{
margin-top:10px;
float:left;
width:27px;
height:27px;
}


#addTeacherButtonDivision
{
float:left;
width: 70px;
height:30px;
margin-left:155px;
margin-top: 15px;
}

#passwordLabelDivision
{
margin-top: 15px;
margin-left:120px;
float:left;
width: 70px;
height: 30px;
}

#passwordInputDivision
{
margin-top: 15px;
margin-left:5px;
float : left;
width: 100px;
height: 30px;
}

#passwordErrorIconDivision
{
margin-top: 10px;
margin-left:5px;
float:left;
width:27px;
height:27px;
}
